@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
	background: #0c1833
}

p {
	margin-bottom: 20px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
	font-family:
}

a[href^="tel:"] {
	color: inherit;
	text-decoration: none
}

a:hover {
	text-decoration: none
}

a {
	outline: 0
}

h2 {
	position: relative;
	display: block;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	line-height: 30px;
	margin: 22px 0 25px 0
}

h2 span {
	display: block
}

h2.colorh2 {
	color: #d8945a
}

h2.h2indent {
	margin: 69px 0 24px 0
}

h2.h2indent-1 {
	margin: 61px 0 30px 0
}

h2.h2indent-2 {
	margin: 53px 0 18px 0
}

#content ul,
aside ul {
	list-style: none
}

.font12 {
	font-size: 12px;
	color: #ffffff;
	font-weight: bold
}

a.font12:hover {
	color: #fff
}

.dis-block {
	display: block
}

.left-0 {
	margin-left: 0 !important
}

.last-mbot {
	margin-bottom: 0 !important
}

.fleft {
	float: left
}

.fright {
	float: right
}

.wrapper,
.extra-wrap {
	overflow: hidden
}

.bot {
	margin-bottom: 8px
}

.col {
	color: #fff
}

.btn-1 {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	position: relative;
	z-index: 1;
	padding: 4px 20px 5px 20px;
	border: 5px solid #161843;
	background: #040d22;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.btn-1:hover {
	outline: 0;
	color: #fff;
	text-shadow: none;
	background: #040d22;
	border: 5px solid #d8945a
}

.link {
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #fff
}

.link:hover {
	color: #d8945a;
	text-decoration: underline
}

.list {
	display: block;
	overflow: hidden;
	margin: 0
}

.list li {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 5px 0 6px 16px;
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
	background: url(../img/bg-li-list.png) 0 9px no-repeat
}

.list li a {
	color: #ffffff
}

.list li a:hover {
	color: #c38652
}

.list-1 {
	margin: 0;
	display: block;
	overflow: hidden
}

.list-1 li {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 5px 0 6px 16px;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	background: url(../img/bg-li-1-list.png) 0 9px no-repeat
}

.list-1 li a {
	color: #c38652
}

.list-1 li a:hover {
	color: #ffffff
}

figure.img-polaroid {
	display: inline-block;
	margin: 0 0 15px 0
}

.img-polaroid {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	margin-bottom: 15px;
	padding: 5px;
	border: 0;
	background-color: #ffffff;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.img-polaroid img {
	max-width: inherit;
	width: 100%
}

.thumbnails {
	margin: 29px 0 30px 0
}

.thumbnails .thumbnail {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	border: 0
}

.thumbnails .thumbnail .img-polaroid {
	margin-bottom: 26px;
	width: 100%
}

.thumbnails .thumbnail p {
	margin: 8px 0 10px 0;
	color: #ffffff
}

.thumbnails .thumbnail a {
	color: #ffffff
}

.thumbnails .thumbnail a:hover {
	color: #fff
}

header {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	z-index: 999;
	padding: 0;
	height: auto
}

.page-1 .container {
	z-index: 2;
	position: relative
}

.page-2 {
	background: url(../img/1.jpg) center 0 no-repeat
}

.page-3 {
	background: url(../img/1.jpg) center 0 no-repeat
}

.page-4 {
	background: url(../img/1.jpg) center 0 no-repeat
}

.page-5 {
	background: url(../img/kayakt.jpg) center 0 no-repeat
}

.page-6 {
	background: url(../img/fishingt.jpg) center 0 no-repeat
}

.page-7 {
	background: url(../img/speart.jpg) center 0 no-repeat
}

.div-telephone {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 34px;
	color: #c38652;
	line-height: 1em;
	float: right;
	margin: 26px 0 0 0
}

.div-telephone img {
	display: block;
	margin-bottom: 5px
}

.div-telephone span {
	display: block;
	letter-spacing: 2px;
	word-spacing: 1px;
	margin-top: 2px
}

.navbar_ {
	margin-bottom: 0 !important
}

.navbar_ .collapse {
	overflow: visible
}

.navbar_ .brand {
	position: relative;
	display: inline-block;
	float: left;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0;
	line-height: 22px
}

.navbar_ .brand span {
	position: absolute;
	left: -400px;
	display: block
}

.navbar_ .div-telephone {
	float: right
}

.navbar_ .navbar-inner {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	margin: 0;
	padding: 0;
	min-height: inherit;
	border: 0;
	background: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.nav-collapse_ {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	margin: 23px 0 0 0;
	padding: 0;
	border-top: 5px solid #161843;
	background: url(../img/bg-nav-collapse.png) 0 0 repeat-x;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.nav-collapse_ .nav {
	display: block;
	float: none;
	margin: 0;
	padding: 0
}

.nav-collapse_ .nav li {
	position: relative;
	margin: 0;
	padding: 0;
	zoom: 1
}

.nav-collapse_ .nav li a {
	margin: 0;
	padding: 0;
	color: #fff;
	text-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.nav-collapse_ .nav>li {
	display: inline-block;
	float: left;
	margin: 0;
	border: 0;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif
}

.nav-collapse_ .nav>li:first-child>a {
	padding: 22px 52px 22px 52px
}

.nav-collapse_ .nav>li>a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: relative;
	display: block;
	margin: 0;
	padding: 22px 53px 22px 53px;
	text-align: center;
	font-size: 21px;
	line-height: 25px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.nav-collapse_ .nav>li.sub-menu>a:after {
	position: absolute;
	top: 80%;
	left: 50%;
	display: block;
	margin-left: -4px;
	width: 8px;
	height: 4px;
	background: url(../img/indicator.png) 0 0 no-repeat;
	content: ''
}

.nav-collapse_ .nav ul {
	-webkit-box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.21);
	box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.21);
	position: absolute;
	top: 69px;
	left: 0;
	z-index: 9;
	display: none;
	margin: 0;
	padding: 5px 0 5px 0;
	width: 224px;
	background: #161843;
	list-style: none;
	zoom: 1;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none
}

.nav-collapse_ .nav ul li.sub-menu-1>a:before {
	position: absolute;
	top: 50%;
	left: 80%;
	display: block;
	margin-top: -2px;
	width: 8px;
	height: 4px;
	background: url(../img/indicator.png) 0 0 no-repeat;
	content: ''
}

.nav-collapse_ .nav ul li {
	display: block;
	text-align: left;
	position: relative
}

.nav-collapse_ .nav ul li a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	font-size: 14px;
	line-height: 20px;
	display: block;
	padding: 2px 0 2px 63px;
	color: #fff
}

.nav-collapse_ .nav ul li ul {
	position: relative;
	top: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.nav-collapse_ .nav ul li ul li {
	display: block
}

.nav-collapse_ .nav ul li ul li a {
	padding: 2px 0 2px 79px
}

.nav-collapse_ .nav ul li ul li a:hover {
	background: #040c1f
}

.nav-collapse_ .nav>li.sfHover>a,
.nav-collapse_ .nav>li.sfHover>a:hover,
.nav-collapse_ .nav>li>a:hover,
.nav-collapse_ .nav>li.active>a,
.nav-collapse_ .nav>li.active>a:hover {
	background: #161843;
	color: #fff
}

.nav-collapse_ .nav>li>ul>li>a:hover,
.nav-collapse_ .nav>li>ul li.sfHover>a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #fff;
	color: #161843
}

#content {
	position: relative;
	padding: 29px 0 45px 0;
	background: #040d22;
	color: #fff
}


aside {
	background: #06122b;
	padding: 0 0 9px 0
}

.banner {
	padding: 42px 0 0 0
}

.block {
	position: relative;
	padding: 22px 0 31px 0;
	border: 5px solid #161843;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	font-family: 'Open Sans Condensed', sans-serif
}

.block:hover {
	border: 5px solid #d8945a;
	color: #d8945a
}

.block:hover>span {
	color: #d8945a
}

.block:hover em {
	color: #d8945a
}

.block:hover em span {
	color: #d8945a
}

.block:hover a {
	border: 5px solid #d8945a
}

.block>span {
	display: block;
	margin-bottom: 2px;
	color: #ffffff;
	font-size: 28px;
	line-height: 1em
}

.block em {
	display: block;
	margin-top: -2px;
	color: #3b67b1;
	font-style: normal;
	font-size: 20px;
	line-height: 26px
}

.block em span {
	color: #fff
}

.block a {
	position: absolute;
	bottom: -19px;
	left: 50%;
	display: block;
	margin-left: -55px;
	padding: 4px 0 5px;
	width: 111px;
	border: 5px solid #161843;
	background: #040d22;
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 20px
}

.block a:hover {
	color: #fdfdfd
}

.block-indent {
	*zoom: 1;
	color: #ffffff
}

.block-indent:before,
.block-indent:after {
	display: table;
	content: "";
	line-height: 0
}

.block-indent:after {
	clear: both
}

.block-indent .img-polaroid {
	float: left;
	margin: 4px 30px 15px 0
}

.block-indent .link-img {
	border: 5px solid #ffffff;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 4px 30px 15px 0
}

.block-indent .link-img img {
	width: 100%;
	max-width: inherit;
	display: block
}

.block-indent strong {
	display: block;
	margin-bottom: 8px
}

.block-indent p {
	margin-bottom: 12px
}

.block-indent .extra-wrap {
	overflow: visible
}

.img-indent .img-polaroid {
	width: 100%;
	margin: 4px 0 26px 0
}

.list-history {
	display: block;
	margin: 0;
	overflow: hidden
}

.list-history li {
	display: block;
	overflow: hidden;
	margin: 0 0 22px 0
}

.list-history li strong {
	font-size: 11px;
	line-height: 16px;
	color: #ffffff;
	float: left;
	display: block;
	width: 39px
}

.list-history li span {
	display: block;
	overflow: hidden
}

.list-img {
	margin: 0;
	overflow: hidden
}

.list-img li {
	margin-bottom: 4px
}

.list-img img {
	float: left;
	margin: 0 15px 0 0
}

.list-img div {
	overflow: hidden
}

.list-img a {
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline
}

.list-img a:hover {
	color: #fff
}

.list-membership {
	margin: 0;
	list-style-type: none
}

.list-membership li {
	background: url(../img/img-5.png) 0 0 no-repeat;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	padding: 3px 0 5px 38px
}

.list-membership li a {
	color: #ffffff
}

.list-membership li a:hover {
	color: #fff
}

.box-404 .span7 img {
	margin: 29px 0 0 0
}

.block-404 {
	padding: 60px 0 0 0
}

.block-404 span {
	font-size: 30px;
	line-height: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff
}

#search {
	position: relative;
	overflow: hidden;
	padding: 32px 0 0 0
}

#search input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	display: block;
	margin: 0 0 10px 0;
	padding: 9px 13px 10px;
	width: 100%;
	height: 39px;
	outline: 0;
	border: 1px solid #161843;
	background: #040d22;
	color: #ffffff;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#search input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

#search a {
	float: right;
	padding: 4px 24px 5px 24px
}

.div-map {
	padding-top: 4px
}

.map {
	display: block;
	margin: 0 0 25px 0;
	padding: 5px;
	background: #ffffff;
	line-height: 0
}

.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 353px;
	border: 0;
	line-height: 0
}

.adress {
	font-size: 12px
}

.adress em {
	display: block;
	margin-left: 0;
	text-align: left;
	font-weight: normal;
	font-style: normal
}

.adress a {
	display: inline-block;
	margin-left: 2px;
	color: #ffffff
}

.adress a:hover {
	color: #fff;
	text-decoration: underline
}

.adress span {
	display: inline-block;
	width: 82px
}

.adress strong {
	display: inline-block;
	font-weight: bold;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px
}

.adress strong.title1 {
	display: block;
	text-align: left;
	letter-spacing: 0;
	font-size: 12px;
	margin-bottom: 8px
}

#contact-form {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 4px 0 0 0;
	vertical-align: top
}

#contact-form fieldset {
	overflow: hidden;
	padding: 0;
	width: 100%;
	border: 0
}

#contact-form fieldset>div {
	overflow: hidden;
	min-height: 49px
}

#contact-form label {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0
}

#contact-form .message {
	display: block;
	min-height: 180px;
	width: 100%
}

#contact-form input,
#contact-form textarea {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 0;
	padding: 9px 13px 10px;
	width: 100%;
	outline: 0;
	border: 1px solid #161843;
	background: #040d22;
	color: #ffffff;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

#contact-form input {
	height: 39px
}

#contact-form textarea {
	overflow: auto;
	width: 100%;
	height: 339px;
	resize: none
}

#contact-form .area .error {
	float: none
}

#contact-form .success {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000 !important;
	display: none;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
	border: 1px solid #000;
	background-color: #fff;
	color: #ffffff;
	font-size: 15px;
	line-height: 16px
}

#contact-form .error,
#contact-form .empty {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 2px 4px 6px;
	color: #f00;
	font-size: 11px;
	line-height: 1.27em
}

#contact-form .buttons-wrapper {
	position: relative;
	padding-top: 20px;
	text-align: right
}

#contact-form .buttons-wrapper a {
	margin-left: 17px !important;
	cursor: pointer;
	letter-spacing: 1px
}

#contact-form .buttons-wrapper a:hover {
	text-decoration: none
}

#contact-form textarea:focus,
#contact-form input[type="text"]:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

footer {
	position: relative;
	padding: 25px 0 23px 0;
	border-top: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #0c1833;
	color: #ffffff;
	font-size: 11px;
	line-height: 20px;
	letter-spacing: 1px
}

footer a {
	color: #ffffff
}

footer a:hover {
	color: #fff
}

.list-soc {
	margin: 13px 0 0 0;
	float: right;
	overflow: hidden
}

.list-soc li {
	float: left;
	display: block;
	margin: 0 0 0 5px
}

.list-soc li a {
	display: inline-block;
	width: 22px;
	height: 22px
}

.icon-1 {
	background: url(../img/icon.png) 0 0 no-repeat
}

.icon-2 {
	background: url(../img/icon-1.png) 0 0 no-repeat
}

.icon-3 {
	background: url(../img/icon-2.png) 0 0 no-repeat
}

.icon-4 {
	background: url(../img/icon-3.png) 0 0 no-repeat
}

.icon-1:hover,
.icon-2:hover,
.icon-3:hover,
.icon-4:hover {
	background-position: 0 bottom
}

.pp {
	color: #ffffff
}

.pp:hover {
	color: #fff
}

.select-menu {
	display: none !important
}

@media(min-width:1200px) {
	h2 {
		font-size: 30px;
		line-height: 35px;
		letter-spacing: 2px
	}

	#contact-form label {
		float: none;
		display: inline-block
	}

	#contact-form input {
		width: 370px
	}

	.nav-collapse_ .nav>li>a {
		padding: 22px 76px 22px 76px
	}

	.nav-collapse_ .nav>li:first-child>a {
		padding: 22px 75px 22px 76px
	}

	.block-indent .extra-wrap {
		overflow: hidden
	}

	.indent-r {
		padding-right: 40px
	}

	.thumbnails {
		margin: 29px 0 30px 0
	}

	.map {
		margin-right: 20px
	}

	.box-404 .span7 img {
		margin: 39px 0 0 0
	}

	.block-404 {
		padding: 145px 100px 0 0
	}

	.block-404 span {
		display: block;
		margin-bottom: 84px
	}

	#search input {
		float: left;
		width: 260px;
		margin-right: 11px
	}

	#search .btn {
		float: left
	}

	.block>span {
		font-size: 34px
	}
}

@media(min-width:980px) and (max-width:1199px) {
	.nav-collapse_ {
		height: auto !important
	}
}

@media(max-width:979px) {
	.nav-collapse_ {
		height: 69px !important
	}

	.navbar_ .nav-collapse_ {
		float: none
	}

	.navbar_ .nav-collapse_ .nav {
		float: none;
		text-align: center;
		display: inline-block
	}

	.nav-collapse_ .nav>li>a {
		padding: 22px 31px 22px 31px
	}

	.nav-collapse_ .nav>li:first-child>a {
		padding: 22px 32px 22px 32px
	}

	.list-img li div {
		overflow: visible
	}
}

@media(min-width:768px) and (max-width:979px) {
	.block-indent .link-img {
		width: 100%;
		float: none
	}

	.div-telephone {
		display: none
	}
}

@media(max-width:767px) {
	.navbar_ .nav-collapse_ .nav {
		display: none
	}

	.nav-collapse_ {
		height: auto !important
	}

	.select-menu {
		display: block !important;
		margin-bottom: 2px;
		width: 100%;
		border: 1px solid #fff;
		background: #253590;
		color: #fff;
		cursor: pointer
	}

	.select-menu option {
		padding-bottom: 3px
	}

	.page-2 {
		padding-bottom: 10px
	}

	.div-telephone {
		display: none
	}

	.navbar_ .navbar-inner {
		text-align: center
	}

	.navbar_ .brand {
		display: inline-block;
		float: none;
		width: 126px;
		height: auto;
		background-size: 100%
	}

	.navbar_ .nav-collapse_ {
		background: 0;
		border-top: 0
	}

	.page-1 {
		background: #161843
	}

	.page-1 .container {
		position: static
	}

	.box .span3 {
		float: left;
		margin: 0 20px 30px 0;
		width: 44%
	}

	.box-1 {
		*zoom: 1
	}

	.box-1:before,
	.box-1:after {
		display: table;
		content: "";
		line-height: 0
	}

	.box-1:after {
		clear: both
	}

	.box-1 .span3 {
		float: left;
		margin: 0 20px 30px 0;
		width: 44%
	}

	.box-2 .span9 {
		float: left;
		width: 70%;
		margin: 0 20px 0 0
	}

	.box-2 .span3 {
		float: left;
		width: 25%;
		margin: 0
	}

	.list-soc {
		float: none;
		margin: 0 0 20px 0
	}

	.img-indent .img-polaroid {
		float: left;
		margin: 0 20px 15px 0;
		width: auto
	}

	.thumbnails {
		*zoom: 1
	}

	.thumbnails:before,
	.thumbnails:after {
		display: table;
		content: "";
		line-height: 0
	}

	.thumbnails:after {
		clear: both
	}

	.thumbnails .thumbnail.span3 {
		float: left;
		margin: 0 20px 20px 0;
		width: 44%
	}

	.thumbnails .thumbnail.span3 .img-polaroid {
		width: 100%
	}
}

@media(max-width:520px) {
	.box .span3 {
		float: none;
		margin: 0 0 30px 0;
		width: 100%
	}

	.img-indent .img-polaroid {
		float: none;
		margin: 0 0 15px 0;
		width: 100%
	}

	.block-indent .img-polaroid {
		float: none;
		width: 100%;
		margin: 0 0 15px 0
	}

	.block-indent .link-img {
		float: none;
		width: 100%;
		margin: 0 0 20px 0
	}

	.box-2 .span9 {
		float: none;
		width: 100%;
		margin: 0 0 20px 0
	}

	.box-2 .span3 {
		float: none;
		width: 100%;
		margin: 0
	}

	aside {
		padding-bottom: 20px
	}
}

@media(max-width:480px) {
	.box-1 .span3 {
		float: none;
		margin: 0 0 30px 0;
		width: 100%
	}

	.block-indent .link-img {
		width: 100%;
		float: none
	}

	.thumbnails .thumbnail.span3 {
		width: 100%;
		margin: 0 0 20px 0;
		float: none
	}

	.box-404 .span7 img {
		margin: 0
	}
}

.clearfix {
	*zoom: 1
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0
}

.clearfix:after {
	clear: both
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.top-header {
    background-color: #3F84B1;
    border-bottom: 0 none;
	height: 36px;
    line-height: 35px;
}
/*-- /top-header --*/
/*-- header --*/
.header {
    background-color: #fff;
    margin: 0;
	padding: 10px 0 8px;
}
.logo a {
    display: block;
}
.logo {
    float: left;
	 margin-right: 60px;
}
.bus {
    float: left;
	padding-top: 17px;
}
.bus a {
    color: #1f8dd6;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .05em;
	padding:0 15px;
}
.lock {
    float: right;
    margin-top: 7px;
}
.securetxt {
    color: #1f8dd6;
    line-height: 18px;
    margin-top: 0px;
	font-size: 14px;
	font-weight:600;
}
.lock li {
    display: inline-block;
}
i.fa.fa-lock {
    color:#1f8dd6;
    font-size: 2em;
    padding-right: 10px;
}
/*-- /header --*/

/*-- sign up --*/
.single-bottom input[type="checkbox"] {
    display: none;
  }
  .single-bottom input[type="checkbox"]+label {
      position: relative;
      padding-left: 31px;
      border: none;
      outline: none;
      font-size: 14px;
      color: #A9A8A8;
      font-weight:normal;
  }
  .single-bottom input[type="checkbox"]+label span:first-child {
      width: 14px;
      height: 14px;
      display: inline-block;
      border: 2px solid #0019fa;
      position: absolute;
      left: 0;
      top: 4px;
  }
  .single-bottom input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background:url(../images/mark1.png)no-repeat;
    position: absolute;
    left: -1px;
    top: -1px;
    font-size: 10px;
    width:16px;
    height:16px;
  }
  .modal-info {
      width: 100%;
  }
  /*-- //Sign up --*/
  .modal-header {
      border-bottom: 1px solid #fff !important;
  }


  *-- rooms --*/
.rooms-top {
    background: url(../images/7.jpg)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 390px;
    padding: 18em 0 0;
}
.rom-info {
    background: rgba(0, 68, 255, 0.79);
    padding: 1em 2em;
}
.rom-info h3 {
    font-size: 1.8em;
    color: #000000;
    font-weight: 700;
}
.rom-info p {
    font-size: 15px;
    margin-top: 0.5em;
    color: #00000;
    line-height: 1.7em;
}
.rt-left {
    float: left;
}
.rt-right {
    float: right;
}
.rom-info h5 {
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
}
.rom-btm {
    margin-top: 2em;
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.37);
}
.room-bottom h3 {
    font-size: 1.8em;
    font-weight: 700;
    color: #2b0bf8;
}
.room-bottom {
    padding: 2em 0;
}
.rom-btm h4 {
    font-size: 1.5em;
    font-weight: 700;
    color: #1700eb;
}
.rom-btm p {
    font-size: 15px;
    color: #00000;
}
.rom-btm h6 {
    font-size: 1em;
    font-weight: 700;
    margin: 0.5em 0;
}
.room-right {
    text-align: right;
    padding: 3em 2em;
}
.room-midle {
    padding: 1em;
}
.rom-btm h5 {
    font-size: 1.2em;
    font-weight: 700;
    color: #00000;
}
/*-- /rooms --*/

a.view {
    padding: 6px 18px;
    font-weight: 700;
    color: #fff;
    background-color: #1f8dd6;;
    border: 0;
    font-size: 13px;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    margin-top: 20px;
    display: inline-block;
}
.view1 {
	width: 100%;
   height: 100%;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view1 .mask,.view1 .content {
	width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   cursor:pointer;
}
.view1 img {
   display: block;
   position: relative;
}
.view1 h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view1-sixth img {
   -webkit-transition: all 0.4s ease-in-out 0.5s;
   -moz-transition: all 0.4s ease-in-out 0.5s;
   -o-transition: all 0.4s ease-in-out 0.5s;
   -ms-transition: all 0.4s ease-in-out 0.5s;
   transition: all 0.4s ease-in-out 0.5s;
}
.view1-sixth .mask {
   background-color:rgba(63, 132, 177, 0.72);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.view1-sixth h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   margin: 130px 40px 0px 40px;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view1-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view1-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view1-sixth:hover h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}

select {
    padding: 4px 5px!important;
    width: 80%;
    color: #9E9E9E;
    margin-top: 18px;
    border: 1px solid #464646;
    padding: 5px 10px;
    vertical-align: middle;
}

/*-- selectroom --*/
.selectroom {
    padding: 5em 0 3em;
}
.selectroom_top {
    padding: 2em;
    box-shadow: 0px 0px 10px -4px #000;
    margin-bottom: 2em;
}
.selectroom_right li {
    display: inline-block;
    float: left;
    width: 21%;
}
.grand {
    text-align: right;
}
.selectroom_right h2 {
	font-size: 1.7em;
    color: #999;
    font-weight: 600;
    margin: 0;
}	
.selectroom_right h3 {
    font-size: 1.7em;
    font-weight: 600;
	color:#1f8dd6;;
}
p.dow {
    font-size: 15px;
    color: #999;
    font-weight: 300;
    line-height: 1.8em;
	margin-bottom:1em;
}
.selectroom_right p {
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 300;
    color: #999;
}
.selectroom_right ul {
    margin-top: 1em;
}
.selectroom_right h6 {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
}
.selectroom_right h4 {
    font-size: 1.2em;
    color: #1f8dd6;;
    line-height: 1.8em;
	font-weight:600;
}
.selectroom_right span {
    font-weight: 700;
}
.selectroom-info li {
    display: inline-block;
    float: left;
}
li.nam {
    width: 22%;
}
li.mr
{
    width: 12%;
}
li.mr select {
    padding: 4px 5px!important;
    width: 72%;
    color: #9E9E9E;
    margin-top: 18px;
	border:none;
    border-bottom:1px solid rgba(0,0,0,.12);
    padding: 5px 10px;
    vertical-align: middle;
}
.selectroom input[type="text"] {
    width: 92%;
    color: #9E9E9E;
    outline: none;
    font-size: 14px;
    padding: 10px 0px;
    border: none;
    border-bottom:1px solid rgba(0,0,0,.12);
    -webkit-appearance: none;
    margin-top: 10px;
}
.selectroom-info ul {
    margin-top: 3em;
}
li.spe {
    width: 100%;
    margin-top: 3em;
}
li.spe  input[type="text"] {
    width: 100%;
}

.details-left {
    width: 100%;
    padding: 0;
}
.details-middle {
    width: 100%;
    padding-left: 16px;
}
.details-middle li {
    font-size: 13px;
}
.details-middle p {
    font-size: 13px;
}
.selectroom_top {
    padding: 1em;
}
.selectroom-info ul {
    margin-top: 1em;
}
.selectroom_right p {
    font-size: 13px;
}
.selectroom_right h6 {
    font-size: 0.9em;
}
.selectroom_right h3 {
    font-size: 1.5em;
}
.grand {
    text-align: right;
    margin-top: 0.5em;
    margin-top: 2em;
}

.buttonmargin {

    margin-top: 5em;
}

.section-box {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.section-box:nth-child(odd) {
    background-color: #f5f5f5;
}

.section-box:nth-child(even) {
    background-color: #e9ecef;
}


.package-name {
    background-color: #001e6a; /* Black background color */
    color: #ffffff; /* White text color */
    padding: 10px; /* Add padding for better spacing */
    border-radius: 5px; /* Optional: Add rounded corners */
}
.spe, .sigi {
    margin-top: 20px; /* Adjust the margin-top as needed */
}

.spe button, .sigi a {
    margin-top: 10px; /* Adjust the margin-top as needed */
}
.package-details p {
    word-wrap: break-word; /* Force text wrapping */
}
